<ul class='{{ulClass}}'>
    {{#each products as product}}
    <li class='{{liClass}}' style='max-width:{{maxWidth}}px !important;'><Product name='{{product.name}}' url='{{product.url}}{{queryString}}' image='{{product.image_url}}' price='{{product.price.EUR.default_formated}}' size={{size}} /></li>
    {{/each}}
    <li ref:lastSlide class='lbesw-last-slide {{liClass}}' style='max-width:{{maxWidth}}px !important;'>{{yield}}</li>
</ul>

<style>
 .lbesw-listItem {
     display: block !important;
     clear:both !important;
 }
</style>

<script type="text/javascript">
    import Product from './Product.html';
    export default {
        data() {
            return {
                products: [],
                ulClass: '',
                liClass: '',
                lastItem: null,
                maxWidth: 'none',
                size: null,
                queryString: ''
            };
        },
        components: {
            Product
        }
    };
</script>
