<div class='lbesw-slider lbesw-{{size}}' ref:slider>
    <div class='lbesw-frame js_frame'>
        <ProductList ref:productsComponent products={{products}} ulClass='lbesw-slides js_slides' liClass='js_slide' maxWidth={{maxWidth}} size={{size}} queryString={{queryString}}>
            <LastSlide ref:lastSlide size={{size}} queryString={{queryString}}/>
        </ProductList>
    </div>
    <span class='js_prev lbesw-prev lbesw-{{size}}'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.4 12">
          <style>.pink{fill:#E62460} .white{fill:#FFF}</style>
          <path class="{{arrowStyle}}" d="M7.4 1.4L6 0 0 6l6 6 1.4-1.4L2.8 6l4.6-4.6z"/></svg>
    </span>
    {{#if size == 'pave'}}
    <span class='lbesw-rond'></span>
    {{/if}}
    <span class='js_next lbesw-next lbesw-{{size}}'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.4 12">
          <path class="{{arrowStyle}}" d="M0 1.4L1.4 0l6 6-6 6L0 10.6 4.6 6 0 1.4z"/></svg>
     </span>
</div>

<style>
    div.lbesw-slider {
        position: relative !important;
        padding: 10px 0 !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: -moz-none !important;
        -o-user-select: none !important;
        user-select: none !important;
        background-color: #e7e7e7 !important;
    }

    div.lbesw-slider.lbesw-grandangle {
        padding: 10px 0 !important;
    }

    div.lbesw-slider.lbesw-pave {
        /*padding: 13px 9px 42px 9px !important;*/
        padding: 13px 0 42px 0 !important;
    }

    div.lbesw-slider div.lbesw-frame {
        position: relative !important;
        overflow: hidden !important;
    }

    div.lbesw-slider div.lbesw-frame ul.lbesw-slides {
        display: inline-block !important;
        padding: 0 !important;
        white-space: nowrap !important;
        width: 100% !important;
    }

    div.lbesw-slider div.lbesw-frame ul.lbesw-slides li {
        position: relative !important;
        display: inline-block !important;
        width: 100% !important;
        vertical-align: top !important;
        padding: 0 8px !important;
        box-sizing: border-box !important;
    }

    div.lbesw-slider.lbesw-pave div.lbesw-frame ul.lbesw-slides li.lbesw-last-slide {
        padding: 0 !important;
    }

    div.lbesw-slider.lbesw-megaban div.lbesw-frame ul.lbesw-slides li {
        padding: 0 4px !important;
    }

    span.lbesw-prev, span.lbesw-next {
        position: absolute !important;
        display: block !important;
        cursor: pointer !important;
        padding: 0 !important;
    }

    span.lbesw-next svg, span.lbesw-prev svg {
        width: 100% !important;
    }

    div.lbesw-rond {
        position: absolute !important;
        display: block !important;
        width: 14px !important;
        height: 14px !important;
        border-radius: 50% !important;
        background: #cfcfcf !important;
        bottom: 15px !important;
        left: 50% !important;
        margin-left: -7px !important;
    }

    span.lbesw-prev.lbesw-pave, span.lbesw-next.lbesw-pave {
        width: 15px !important;
        height: 28px !important;
        bottom: 6px !important;
    }

    span.lbesw-next.lbesw-pave {
        right: 50% !important;
        margin-right: -30px !important;
    }

    span.lbesw-prev.lbesw-pave {
        left: 50% !important;
        margin-left: -30px !important;
    }

    span.lbesw-prev.lbesw-grandangle, .lbesw-next.lbesw-grandangle {
        top: 50% !important;
        margin-top: -65px !important;
        width: 9.16% !important;
        max-width: 25px !important;
        height: 14.65% !important;
        max-height: 40px !important;
    }

    span.lbesw-next.lbesw-grandangle {
        right: 3.5% !important;
        margin-right: 15px !important;
    }

    span.lbesw-prev.lbesw-grandangle {
        left: 3.5% !important;
        margin-left: 15px !important;
    }

    span.lbesw-prev.lbesw-megaban, span.lbesw-next.lbesw-megaban {
        width: 17px !important;
        height: 28px !important;
        top: 0 !important;
        background-color: #ee2b68 !important;
        padding: 32px 6px 33px !important;
    }

    span.lbesw-next.lbesw-megaban {
        right: -29px !important;
    }

    span.lbesw-prev.lbesw-megaban {
        left: -29px !important;
    }

</style>

<script type='text/javascript'>
    import {lory} from 'lory.js';
    import ProductList from './ProductList.html';
    import LastSlide from './LastSlide.html';

    export default {
        oncreate() {
            this.refs.productsComponent.observe('products', (newValue, oldValue) => {
                if (newValue.length) {
                    lory(this.refs.slider, {
                        rewind: true
                    });
                }
            }, {defer: true});

            this.observe('contentHeight', contentHeight => {
                let maxWidth = 300;
                if (this.get('size') == 'grandangle' && contentHeight > 0 ) {
                    const sliderRect = this.refs.slider.getBoundingClientRect();
                    const lastSlideRect = this.refs.productsComponent.refs.lastSlide.getBoundingClientRect();
                    maxWidth = contentHeight - (sliderRect.height - lastSlideRect.width);
                }
                else if (this.get('size') == 'megaban') {
                    maxWidth = 185;
                }
                this.set({maxWidth: maxWidth});
            }, {init: false});

        },
        data() {
            return {
                products: null,
                contentHeight: null,
                size: null,
                queryString: ''
            };
        },
        computed : {
            arrowStyle: (size) => {
                if (size == 'megaban') {
                    return 'white';
                }
                return 'pink';
            }
        },
        components: {
            ProductList,
            LastSlide
        }
    };
</script>
