
<a class="lbesw-product lbesw-{{size}}" href="{{url}}">
    <div class="lbesw-thumb"><img src="{{image}}"></div>
    <div class="lbesw-info">
        <div class="lbesw-name">{{{name}}}</div>
        <div class="lbesw-price">{{price}}</div>
        {{#if size != 'search'}}
        <div class="lbesw-buy">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.5 62.3">
                <style>.white{fill:#FFFFFF}</style>
                <path class="white" d="M65.6 19c0-6.5-4.7-12-11-13.3v6c3 1.2 5.2 4 5.2 7.4h-16c0-3 2-6 5-7V6C43 7 38 12.4 38 19H20.3l10.5 43.3h18v-5.8H35.4L27.6 25H76l-8 31.4H54.7v5.8h18L83.4 19H65.6z"/>
                <path class="white" d="M95 0v8.7h8.5v5H95v8.7h-5v-8.8h-8.5v-5H90V0h5z"/>
            </svg>
        </div>
        {{/if}}
    </div>
</a>

<style>
    a.lbesw-product {
        display: block !important;
        position: relative !important;
    }
    a.lbesw-product.lbesw-search:hover {
        background-color:#e0e0e0 !important;
    }
    a.lbesw-product em {
        font-weight: bold !important;
        font-style: normal !important;
    }

    a.lbesw-product div.lbesw-info {
        white-space: normal !important;
    }

    a.lbesw-product div.lbesw-thumb img {
        display: block !important;
        text-align: center !important;
    }

    a.lbesw-product div.lbesw-info div.lbesw-name{
        color: #ee2b68 !important;
        overflow: hidden !important;
    }
    a.lbesw-product.lbesw-search div.lbesw-info div.lbesw-name{
        color: #000 !important;
    }

    a.lbesw-product div.lbesw-info div.lbesw-buy{
        position:absolute !important;
        right:0 !important;
        bottom:0 !important;
        background-color: #ee2b68 !important;
    }

    a.lbesw-product div.lbesw-thumb img {
        width: 100% !important;
    }

    a.lbesw-product.lbesw-grandangle div.lbesw-info {
        background-color: #fff !important;
        height: 97px !important;
        overflow:hidden !important;
        box-shadow: -1px -1px 0px 0px #dedede !important;
        margin-top: 8px !important;
        margin-bottom: 23px !important;
        padding: 0 12px !important;
    }

    a.lbesw-product.lbesw-grandangle div.lbesw-info div.lbesw-price{
        color: #fff !important;
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        line-height: 36px !important;
        padding: 0 10px !important;
        background-color: #ee2b68 !important;
    }

    a.lbesw-product.lbesw-search div.lbesw-info div.lbesw-price{
        color: #3399cc !important;
    }

    a.lbesw-product.lbesw-pave, a.lbesw-product.lbesw-search {
        background: #fff !important;
        height: 97px !important;
    }
    a.lbesw-product.lbesw-megaban {
        background: #fff !important;
        height: 73px !important;
    }
    a.lbesw-product.lbesw-pave div.lbesw-thumb, a.lbesw-product.lbesw-search div.lbesw-thumb {
        width: 85px !important;
        float: left !important;
        padding: 6px !important;
    }
    a.lbesw-product.lbesw-megaban div.lbesw-thumb {
        width: 63px !important;
        float: left !important;
        padding: 5px !important;
    }

    a.lbesw-product.lbesw-grandangle div.lbesw-info div.lbesw-name, a.lbesw-product.lbesw-pave div.lbesw-info div.lbesw-name, a.lbesw-product.lbesw-search div.lbesw-info div.lbesw-name{
        padding-top: 6px !important;
        max-height: 42px !important;
    }

    a.lbesw-product.lbesw-megaban div.lbesw-info div.lbesw-name {
        padding-top: 5px !important;
        max-height: 33px !important;
        font-size: 0.8em !important;
    }

    a.lbesw-product.lbesw-grandangle div.lbesw-info div.lbesw-buy{
        width: 44px !important;
        height: 30px !important;
        padding: 6px 22px !important;
    }

    a.lbesw-product.lbesw-pave div.lbesw-info div.lbesw-buy{
        width: 34px !important;
        height: 24px !important;
        padding: 5px 19px !important;
    }

    a.lbesw-product.lbesw-megaban div.lbesw-info div.lbesw-buy{
        width: 24px !important;
        height: 21px !important;
        padding: 1px 12px !important;
    }

</style>

<script type="text/javascript">
    export default {
        data() {
            return {
                url: null,
                name: null,
                image: null,
                price: null
            };
        }
    };
</script>
