{{#if products.length}}
<div class="lbesw-scroll" style="max-height:{{height}}px !important">
    <ProductList products={{products}} ulClass='lbesw-results' queryString={{queryString}} maxWidth=500 size="search" />
</div>
{{/if}}

<style>
    div.lbesw-scroll {
        position: absolute !important;
        top: -10px !important;
        left: 8px !important;
        background-color: #fff !important;
        border: 1px solid #c0c0c0 !important;
        overflow-y: scroll !important;
        width: calc(100% - 10px) !important;
    }
    div.lbesw-scroll ul.lbesw-results {
        width: 100% !important;
    }
    div.lbesw-scroll ul.lbesw-results li {
        width: 100% !important;
    }
</style>

<script type="text/javascript">
    import ProductList from './ProductList.html';

    export default {
        data() {
            return {
                contentHeight: null,
                products: [],
                queryString: ''
            };
        },
        computed : {
            height: (contentHeight) => {
                return (contentHeight - 15);
            }
        },
        components: {
            ProductList
        }
    };
</script>
