<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Emmaüs Search Widget</title>
</head>
<body style="margin:0; padding:0; background-color:#000">

  <div class="lbe_widget_v1"
    data-limit=5
    data-merchants="440"
    data-categories="180"
    data-height=90
  >
    <a href="https://www.label-emmaus.co">Achetez Solidaire</a>
  </div>
  <br><br>

  <div class="lbe_widget_v1"
    data-limit=5
    data-merchants="440"
    data-categories="180"
    data-height=250
  >
      <a href="https://www.label-emmaus.co">Achetez Solidaire</a>
  </div>
  <br><br>
  <div class="lbe_widget_v1"
    data-limit=5
    data-categories="180"
    data-height=600
  >
      <a href="https://www.label-emmaus.co">Achetez Solidaire</a>
  </div>
</body>
</html>
